<div class="container-fluid">
  <div class="main-container">
    <div class="row">
      <div class= "col-md-12">
        <div class="header">
          <h2>Breeze Earnings Estimator</h2>
        </div>
        <%= render "earnings_form" %>
        <div class="divider"> </div>
        <div class="row">
          <div class="col-md-6 earnings-output">
            <h1>$ 0</h1>
            <p>Earnings Per Week</p>
          </div>
          <div class="col-md-6"></div>
        </div>
      </div>
    </div>
  </div>
</div>
